.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: OpenSans-Regular;
}

.main {
  width: 90vw;
  padding: 5rem 0;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: .7rem;
  padding: 1.2rem;
  border-radius: 50%;
  width: 12rem;
}

.workinfo a {
  border-bottom: 1px solid #888888;
}

.workinfo a:hover{
  color: #999999;
}

.eduinfo a{
  border-bottom: 1px solid #888888;
}

.eduinfo a:hover{
  color: #999999;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  font-family: InkLipquid;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1rem;
}

.container code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.4rem;
  font-size: 1rem;
  font-weight: 600;
  font-family: OpenSans-Regular;
}

.skillinfo code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.4rem;
  font-size: 1rem;
  font-weight: 300 !important;
  font-family: OpenSans-Regular;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card, .p_card_pub, .p_card_private {
  margin: 1rem 0;
  flex-basis: 100%;
  padding: .2rem 0;
  text-align: left;
  color: inherit;
  text-decoration: none;
  transition: color 0.15s ease, border-color 0.15s ease;
  font-family: Roboto;
}

.p_card_pub a:hover,
.p_card_pub a:focus,
.p_card_pub a:active {
  color: #33CCCC !important;
  border-color: #0070f3;
}

.p_card_private:hover,
.p_card_private:focus,
.p_card_private:active {
  color: #FF3333 !important;
  border-color: #0070f3;
}

.card h2{
  margin: .7rem 0 0 0;
  font-size: 1.4rem;
  font-family: OpenSans-Regular;
}

.card h3{
  margin: .2rem 0 .7rem 0;
  padding: 0;
  font-size: 1rem;
  font-family: OpenSans-SemiBoldItalic;
}

.card p{
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
}

.p_card_pub h2{
  margin: 1.2rem 0 .7rem 0;
  font-size: 1.4rem;
  font-family: OpenSans-Regular;
}

.p_card_pub p{
  margin: 0;
  font-size: 1rem;
  line-height: 1.6;
}

.p_card_private h2{
  margin: 1.2rem 0 .7rem 0;
  font-size: 1.4rem;
  font-family: OpenSans-Regular;
}

.p_card_private p{
  margin: 0;
  font-size: 1rem;
  line-height: 1.6;
}



.logo {
  height: 1em;
}

.selfinfo {
  border-top: 3px solid #808080;
  margin-top: 2rem;
  padding: .3rem 0;
}

.icon {
  text-align: center;
  height: .5rem 0;
}

.workinfo {
  margin: 1rem 0;
  border-top: 3px solid #808080;
  padding: .2rem 0;
}

.workinfo hr {
  border: 1px dashed #808080;
}

.headtitle {
  border-bottom: 2px solid #808080;
  font-family: OpenSans-BoldItalic;
  font-size: 1.5rem;
}

.skillinfo {
  margin: 1rem 0;
  border-top: 3px solid #808080;
  padding: .2rem 0;
  font-family: Roboto; 
}

.skillinfo p{
  display: inline;
  margin: 0;
  font-size: 1rem;
}

.skillcard {
  margin: 1.5rem 0;
  flex-basis: 100%;
  padding: .2rem 0;
  text-align: left;
  color: inherit;
  text-decoration: none;
  transition: color 0.15s ease, border-color 0.15s ease;
  font-family: OpenSans-Regular;
  line-height: 1.6;
}

.skillcard h3 {
  display: inline;
  margin: .7rem 0;
  font-size: 1rem;
  line-height: 2
}

.skillcard p{
  display: inline;
  margin: .7rem 0;
  font-size: 1rem;
  line-height: 2
}

.eduinfo {
  margin: 1rem 0;
  border-top: 3px solid #808080;
  padding: .2rem 0;
}

.eduinfo hr{
  border: 1px dashed #808080;
}

.edutitle {
  font-size: 1.2rem;
}

.edu_card {
  margin: 1rem 0;
  flex-basis: 100%;
  padding: .2rem 0;
  text-align: left;
  color: inherit;
  text-decoration: none;
  transition: color 0.15s ease, border-color 0.15s ease;
  font-family: OpenSans-Regular;
}

.edu_card h2 {
  margin: 1.1rem 0 0 0;
  font-size: 1.3rem;
}

.edu_card h3 {
  margin: .2rem 0 .7rem 0;
  padding: 0;
  font-size: 1rem;
  font-family: OpenSans-SemiBoldItalic;
}

.edu_card p{
  display: inline;
  margin: .9rem;
  font-size: 1rem;
  line-height: 1.6;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
